<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path('cinema.jpg') %> );">

  <div class="container">
    <h1 class="text-center">Save any kind of movie</h1>

    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
<div>

    <div class="container m-2">
    <h2 class="text-center">My lists</h1><div class="text-center"><%= link_to "Create new list", new_list_path, class: "btn btn-primary m-3"  %></div>
      <div class="cards">
        <% @lists.each do |list| %>
        <div class="card-category"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
           <%= link_to list.name, list, class: "bouton-tkt" %>
        </div>


        <% end %>
      </div>

    </div>
</div>
