<div class="container w-50 bg-success p-2 text-white bg-opacity-75 border-2">
  <h1>Create new list</h1>

  <%= simple_form_for  @list do |f| %>
  <%= f.input :name %>

  <%= f.submit "Submit", class: "btn btn-dark" %>
  <% end %>
</div>
